# Does Harry Browne's permanent portfolio withstand the test of time?

## Python Imports

In [12]:
import os
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import matplotlib.dates as mdates
from matplotlib.ticker import FuncFormatter
from matplotlib.ticker import FormatStrFormatter
from matplotlib.ticker import MultipleLocator
import warnings
import seaborn as sns
import statsmodels.api as sm
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import random
warnings.filterwarnings("ignore")

## Python Functions

In [13]:
# This function takes an excel export from Bloomberg and 
# removes all excess data leaving date and close columns

# Imports
import pandas as pd

# Function definition
def bb_data_updater(fund):

    # File name variable
    file = fund + ".xlsx"
    
    # Import data from file as a pandas dataframe
    df = pd.read_excel(file, sheet_name = 'Worksheet', engine='openpyxl')
    
    # Set the column headings from row 5 (which is physically row 6)
    df.columns = df.iloc[5]
    
    # Set the column heading for the index to be "None"
    df.rename_axis(None, axis=1, inplace = True)
    
    # Drop the first 6 rows, 0 - 5
    df.drop(df.index[0:6], inplace=True)
    
    # Set the date column as the index
    df.set_index('Date', inplace = True)
    
    # Drop the volume column
    try:
        df.drop(columns = {'PX_VOLUME'}, inplace = True)
    except KeyError:
        pass
        
    # Rename column
    df.rename(columns = {'PX_LAST':'Close'}, inplace = True)
    
    # Sort by date
    df.sort_values(by=['Date'], inplace = True)
    
    # Export data to excel
    file = fund + "_Clean.xlsx"
    df.to_excel(file, sheet_name='data')
    
    # Output confirmation
    print(f"The last date of data for {fund} is: ")
    print(df[-1:])
    print(f"Bloomberg data conversion complete for {fund} data")
    return print(f"--------------------")

In [14]:
# Set number of decimal places in pandas

def dp(decimal_places):
    pd.set_option('display.float_format', lambda x: f'%.{decimal_places}f' % x)

dp(2)

In [15]:
# The `df_info` function returns some useful information about
# a dataframe, such as the columns, data types, and size.

def df_info(df):
    print('There are ', df.shape[0], ' rows and ', df.shape[1], ' columns')
    print('The columns and data types are:')
    print(df.dtypes)
    print('The first 4 rows are:')
    display(df.head(4))
    print('The last 4 rows are:')
    display(df.tail(4))

In [16]:
def load_data(file):
    # Import CSV
    try:
        df = pd.read_csv(file)
    except:
        pass

    # Import excel
    try:
        df = pd.read_excel(file, sheet_name='data', engine='openpyxl')
    except:
        pass
        
    return df

In [17]:
def strategy(fund_list, starting_cash, cash_contrib):

    num_funds = len(fund_list)

    df = perm_port.copy()

    '''
    Column order for the dataframe:
    df[fund + "_BA_Shares"]
    df[fund + "_BA_$_Invested"]
    df[fund + "_BA_Port_%"]
    df['Total_BA_$_Invested']
    df['Contribution']
    df[fund + "_AA_Shares"]
    df[fund + "_AA_$_Invested"]
    df[fund + "_AA_Port_%"]
    df['Total_AA_$_Invested']
    '''

    # Calculate the columns for before action (BA) shares, $ invested, and port %
    for fund in fund_list:
        df[fund + "_BA_Shares"] = starting_cash / num_funds / df[fund + "_Close"]
        df[fund + "_BA_$_Invested"] = df[fund + "_BA_Shares"] * df[fund + "_Close"]
        df[fund + "_BA_Port_%"] = 0.25

    # Set column values initially
    df['Total_BA_$_Invested'] = starting_cash
    df['Contribution'] = 0
    # df['Contribution'] = cash_contrib

    # Set columns values initially for after action (AA) shares, $ invested, and port %
    for fund in fund_list:
        df[fund + "_AA_Shares"] = starting_cash / num_funds / df[fund + "_Close"]
        df[fund + "_AA_$_Invested"] = df[fund + "_AA_Shares"] * df[fund + "_Close"]
        df[fund + "_AA_Port_%"] = 0.25
        
    # Set column value for after action (AA) total $ invested
    df['Total_AA_$_Invested'] = starting_cash

    # Initialize variable
    Total_AA_Invested = 0

    # Iterate through the dataframe and execute the strategy
    for index, row in df.iterrows():
        # Ensure there's a previous row to reference by checking the index value
        if index > 0:

            # Initialize variable
            Total_BA_Invested = 0

            # Calculate before action (BA) shares and $ invested values
            for fund in fund_list:
                df.at[index, fund + "_BA_Shares"] = df.at[index - 1, fund + "_AA_Shares"]
                df.at[index, fund + "_BA_$_Invested"] = df.at[index, fund + "_BA_Shares"]row[fund + "_Close"]

                # Sum the asset values to find the total
                Total_BA_Invested = Total_BA_Invested + df.at[index, fund + "_BA_$_Invested"]

            # Calculate before action (BA) port % values
            for fund in fund_list:
                df.at[index, fund + "_BA_Port_%"] = df.at[index, fund + "_BA_$_Invested"] / Total_BA_Invested

            # Set column for before action (BA) total $ invested
            df.at[index, 'Total_BA_$_Invested'] = Total_BA_Invested

            # Initialize variable
            rebalance = "No"

            # Check to see if any asset has % of > 35% or < 15% and if so set variable
            for fund in fundlist:
                if df.at[index, fund + "_BA_Port_%"] > 0.35 or df.at[index, fund + "_BA_Port_%"] < 0.15:
                    rebalance = "Yes"
                else:
                    pass

            # If rebalance is required, rebalance back to 25% for each asset
            if rebalance =="Yes":
                for fund in fundlist:
                        df.at[index, fund + "_AA_$_Invested"] = (Total_BA_Invested + df.at[index, 'Contribution']) * 0.25

            for fund in fund_list:
                df.at[index, fund + "_AA_$_Invested"] = row[fund + "_AA_%_Invested"] * (df.at[index, 'Total_BA_$_Invested'] + 
                                                                                        df.at[index, 'Cash_BA'] +
                                                                                        df.at[index, 'Contribution'])
                df.at[index, fund + "_AA_Shares"] = df.at[index, fund + "_AA_$_Invested"] / row[fund + "_Close"]

                Total_AA_Percent_Invested = Total_AA_Percent_Invested + df.at[index, fund + "_AA_%_Invested"]
                Total_AA_Invested = Total_AA_Invested + df.at[index, fund + "_AA_$_Invested"]

            df.at[index, 'Total_AA_%_Invested'] = Total_AA_Percent_Invested
            Total_AA_Percent_Invested = 0
            
            df.at[index, 'Total_AA_$_Invested'] = Total_AA_Invested
            Total_AA_Invested = 0

            df.at[index, 'Cash_AA'] = (df.at[index, 'Total_BA_$_Invested'] + 
                                    df.at[index, 'Cash_BA'] + 
                                    df.at[index, 'Contribution']) - df.at[index, 'Total_AA_$_Invested']
            
            
            df.at[index, 'Total_Value'] = df.at[index, 'Total_AA_$_Invested'] + df.at[index, 'Cash_AA']

            df.at[index, 'Cash_%'] = df.at[index, 'Cash_AA'] / df.at[index, 'Total_Value']

        # If this is the first row
        else:
            pass

    df['Return'] = df['Total_Value'].pct_change()
    df['Cumulative_Return'] = (1 + df['Return']).cumprod()

    file = plan_name + "_Strategy.xlsx"
    df.to_excel(file, sheet_name='data')
    return df

In [18]:
# stats for entire data set
def summary_stats(df, period):
    if period == 'Monthly':
        df_stats = pd.DataFrame(df.mean(axis=0) * 12) # annualized for 12 months
        df_stats.columns = ['Annualized Mean']
        df_stats['Annualized Volatility'] = df.std() * np.sqrt(12) # annualized for 12 months
        df_stats['Annualized Sharpe Ratio'] = df_stats['Annualized Mean'] / df_stats['Annualized Volatility']
        df_stats[period + ' Max Return'] = df.max()
        df_stats[period + ' Max Return (Date)'] = df.idxmax().values[0]
        df_stats[period + ' Min Return'] = df.min()
        df_stats[period + ' Min Return (Date)'] = df.idxmin().values[0]
        
        wealth_index = 1000*(1+df).cumprod()
        previous_peaks = wealth_index.cummax()
        drawdowns = (wealth_index - previous_peaks)/previous_peaks

        df_stats['Max Drawdown'] = drawdowns.min()
        df_stats['Peak'] = [previous_peaks[col][:drawdowns[col].idxmin()].idxmax() for col in previous_peaks.columns]
        df_stats['Bottom'] = drawdowns.idxmin()
    
        recovery_date = []
        for col in wealth_index.columns:
            prev_max = previous_peaks[col][:drawdowns[col].idxmin()].max()
            recovery_wealth = pd.DataFrame([wealth_index[col][drawdowns[col].idxmin():]]).T
            recovery_date.append(recovery_wealth[recovery_wealth[col] >= prev_max].index.min())
        df_stats['Recovery Date'] = recovery_date

        return df_stats
    
    elif period == 'Weekly':
        df_stats = pd.DataFrame(df.mean(axis=0) * 52) # annualized for 52 weeks
        df_stats.columns = ['Annualized Mean']
        df_stats['Annualized Volatility'] = df.std() * np.sqrt(52) # annualized for 52 weeks
        df_stats['Annualized Sharpe Ratio'] = df_stats['Annualized Mean'] / df_stats['Annualized Volatility']
        df_stats[period + ' Max Return'] = df.max()
        df_stats[period + ' Max Return (Date)'] = df.idxmax().values[0]
        df_stats[period + ' Min Return'] = df.min()
        df_stats[period + ' Min Return (Date)'] = df.idxmin().values[0]
        
        wealth_index = 1000*(1+df).cumprod()
        previous_peaks = wealth_index.cummax()
        drawdowns = (wealth_index - previous_peaks)/previous_peaks

        df_stats['Max Drawdown'] = drawdowns.min()
        df_stats['Peak'] = [previous_peaks[col][:drawdowns[col].idxmin()].idxmax() for col in previous_peaks.columns]
        df_stats['Bottom'] = drawdowns.idxmin()
    
        recovery_date = []
        for col in wealth_index.columns:
            prev_max = previous_peaks[col][:drawdowns[col].idxmin()].max()
            recovery_wealth = pd.DataFrame([wealth_index[col][drawdowns[col].idxmin():]]).T
            recovery_date.append(recovery_wealth[recovery_wealth[col] >= prev_max].index.min())
        df_stats['Recovery Date'] = recovery_date

        return df_stats
    
    elif period == 'None':
        df_stats = pd.DataFrame(df.mean(axis=0))
        df_stats.columns = ['Non-Annualized Mean']
        df_stats['Non-Annualized Volatility'] = df.std()
        df_stats['Non-Annualized Sharpe Ratio'] = df_stats['Non-Annualized Mean'] / df_stats['Non-Annualized Volatility']
        df_stats['Max Return'] = df.max()
        df_stats['Max Return (Date)'] = df.idxmax().values[0]
        df_stats['Min Return'] = df.min()
        df_stats['Min Return (Date)'] = df.idxmin().values[0]
                
        wealth_index = 1000*(1+df).cumprod()
        previous_peaks = wealth_index.cummax()
        drawdowns = (wealth_index - previous_peaks)/previous_peaks

        df_stats['Max Drawdown'] = drawdowns.min()
        df_stats['Peak'] = [previous_peaks[col][:drawdowns[col].idxmin()].idxmax() for col in previous_peaks.columns]
        df_stats['Bottom'] = drawdowns.idxmin()
    
        recovery_date = []
        for col in wealth_index.columns:
            prev_max = previous_peaks[col][:drawdowns[col].idxmin()].max()
            recovery_wealth = pd.DataFrame([wealth_index[col][drawdowns[col].idxmin():]]).T
            recovery_date.append(recovery_wealth[recovery_wealth[col] >= prev_max].index.min())
        df_stats['Recovery Date'] = recovery_date
        
        return df_stats
    
    else:
        return print("Error, check inputs")

In [19]:
def plot_cumulative_return(strat_df):   
    plt.figure(figsize=(10, 5))

    # Plotting data
    plt.plot(strat_df.index, strat_df['Cumulative_Return'], label = 'Strategy Cumulative Return', linestyle='-', color='orange', linewidth=2)
    
    # Formatting x-axis as years
    plt.gca().xaxis.set_major_locator(mdates.YearLocator())
    plt.gca().xaxis.set_major_formatter(mdates.DateFormatter('%Y'))
    
    # Labels and title
    plt.xlabel('Year')
    plt.ylabel('Cumulative Return')
    plt.title('Cumulative Return')
    
    # Rotating x-axis labels for better readability
    plt.xticks(rotation = 45, fontsize = 7)
    plt.yticks(fontsize = 7)
    
    # Ensuring the legend fits and adding a grid
    plt.tight_layout()
    plt.grid(True)
    plt.legend(fontsize = 8)

    # Display the plot
    return plt.show()

In [20]:
def plot_values(strat_df):   
    plt.figure(figsize=(10, 5))
    
    # Plotting data
    plt.plot(strat_df.index, strat_df['Total_AA_$_Invested'], label='Total Fund/Equity Position Value', marker='.', linestyle='-', color='blue', linewidth=1)
    plt.plot(strat_df.index, strat_df['Cash_AA'], label='Total Portfolio Cash', marker='.', linestyle='-', color='green', linewidth=1)
    plt.plot(strat_df.index, strat_df['Total_Value'], label='Total Portfolio Value', marker='.', linestyle='-', color='black', linewidth=1)
    
    # Formatting x-axis as years
    plt.gca().xaxis.set_major_locator(mdates.YearLocator())
    plt.gca().xaxis.set_major_formatter(mdates.DateFormatter('%Y'))
    
    # Adding commas to y-axis labels
    plt.gca().yaxis.set_major_formatter(mtick.FuncFormatter(lambda x, pos: '{:,.0f}'.format(x)))
    
    # Labels and title
    plt.xlabel('Year')
    plt.ylabel('Total Value ($)')
    plt.title('Total Values For Fund/Equity Positions, Portfolio Cash, and Portfolio Value')
    
    # Rotating x-axis labels for better readability
    plt.xticks(rotation=45, fontsize=7)
    plt.yticks(fontsize=7)
    
    # Ensuring the legend fits and adding a grid
    plt.tight_layout()
    plt.grid(True)
    plt.legend(fontsize=8)
    
    # Display the plot
    return plt.show()

In [21]:
def plot_drawdown(strat_df):
    rolling_max = strat_df['Total_Value'].cummax()
    drawdown = (strat_df['Total_Value'] - rolling_max) / rolling_max

    plt.figure(figsize=(10, 5))

    # Plotting data
    plt.plot(strat_df.index, drawdown, label='Drawdown', linestyle='-', color='red', linewidth=2)
    
    # Formatting x-axis as years
    plt.gca().xaxis.set_major_locator(mdates.YearLocator())
    plt.gca().xaxis.set_major_formatter(mdates.DateFormatter('%Y'))

    # Labels and title
    plt.xlabel('Year')
    plt.ylabel('Drawdown (%)')
    plt.title('Portfolio Drawdown')

    # Rotating x-axis labels for better readability
    plt.xticks(rotation=45, fontsize=7)
    plt.yticks(fontsize=7)
    
    # Ensuring the legend fits and adding a grid
    plt.tight_layout()
    plt.grid(True)
    plt.legend(fontsize=8)
        
    # Display the plot
    return plt.show()

## Import Data

In [22]:
# Bonds dataframe
bb_data_updater('SPBDU10T_S&P US Treasury Bond 7-10 Year Total Return Index')
bonds_data = load_data('SPBDU10T_S&P US Treasury Bond 7-10 Year Total Return Index_Clean.xlsx')
bonds_data['Date'] = pd.to_datetime(bonds_data['Date'])
bonds_data.set_index('Date', inplace = True)
bonds_data = bonds_data[(bonds_data.index >= '1990-01-01') & (bonds_data.index <= '2023-12-31')]
bonds_data.rename(columns={'Close':'Bonds_Close'}, inplace=True)
bonds_data['Bonds_Daily_Return'] = bonds_data['Bonds_Close'].pct_change()
bonds_data['Bonds_Total_Return'] = (1 + bonds_data['Bonds_Daily_Return']).cumprod()
bonds_data

The last date of data for SPBDU10T_S&P US Treasury Bond 7-10 Year Total Return Index is:
            Close
Date
2024-04-30 579.02
Bloomberg data conversion complete for SPBDU10T_S&P US Treasury Bond 7-10 Year Total Return Index data
--------------------

            Bonds_Close  Bonds_Daily_Return  Bonds_Total_Return
Date
1990-01-02        99.97                 NaN                 NaN
1990-01-03        99.73               -0.00                1.00
1990-01-04        99.81                0.00                1.00
1990-01-05        99.77               -0.00                1.00
1990-01-08        99.68               -0.00                1.00
...                 ...                 ...                 ...
2023-12-22       604.17               -0.00                6.04
2023-12-26       604.55                0.00                6.05
2023-12-27       609.36                0.01                6.10
2023-12-28       606.83               -0.00                6.07
2023-12-29       606.18               -0.00                6.06

[8527 rows x 3 columns]

In [23]:
# Stocks dataframe
bb_data_updater('SPXT_S&P 500 Total Return Index')
stocks_data = load_data('SPXT_S&P 500 Total Return Index_Clean.xlsx')
stocks_data['Date'] = pd.to_datetime(stocks_data['Date'])
stocks_data.set_index('Date', inplace = True)
stocks_data = stocks_data[(stocks_data.index >= '1990-01-01') & (stocks_data.index <= '2023-12-31')]
stocks_data.rename(columns={'Close':'Stocks_Close'}, inplace=True)
stocks_data['Stocks_Daily_Return'] = stocks_data['Stocks_Close'].pct_change()
stocks_data['Stocks_Total_Return'] = (1 + stocks_data['Stocks_Daily_Return']).cumprod()
stocks_data

The last date of data for SPXT_S&P 500 Total Return Index is:
              Close
Date
2024-04-30 10951.66
Bloomberg data conversion complete for SPXT_S&P 500 Total Return Index data
--------------------

            Stocks_Close  Stocks_Daily_Return  Stocks_Total_Return
Date
1990-01-01           NaN                  NaN                  NaN
1990-01-02        386.16                  NaN                  NaN
1990-01-03        385.17                -0.00                 1.00
1990-01-04        382.02                -0.01                 0.99
1990-01-05        378.30                -0.01                 0.98
...                  ...                  ...                  ...
2023-12-22      10292.37                 0.00                26.65
2023-12-26      10335.98                 0.00                26.77
2023-12-27      10351.60                 0.00                26.81
2023-12-28      10356.59                 0.00                26.82
2023-12-29      10327.83                -0.00                26.74

[8584 rows x 3 columns]

In [24]:
# Gold dataframe
bb_data_updater('XAU_Gold USD Spot')
gold_data = load_data('XAU_Gold USD Spot_Clean.xlsx')
gold_data['Date'] = pd.to_datetime(gold_data['Date'])
gold_data.set_index('Date', inplace = True)
gold_data = gold_data[(gold_data.index >= '1990-01-01') & (gold_data.index <= '2023-12-31')]
gold_data.rename(columns={'Close':'Gold_Close'}, inplace=True)
gold_data['Gold_Daily_Return'] = gold_data['Gold_Close'].pct_change()
gold_data['Gold_Total_Return'] = (1 + gold_data['Gold_Daily_Return']).cumprod()
gold_data

The last date of data for XAU_Gold USD Spot is:
             Close
Date
2024-05-01 2299.31
Bloomberg data conversion complete for XAU_Gold USD Spot data
--------------------

            Gold_Close  Gold_Daily_Return  Gold_Total_Return
Date
1990-01-02      399.00                NaN                NaN
1990-01-03      395.00              -0.01               0.99
1990-01-04      396.50               0.00               0.99
1990-01-05      405.00               0.02               1.02
1990-01-08      404.60              -0.00               1.01
...                ...                ...                ...
2023-12-22     2053.08               0.00               5.15
2023-12-26     2067.81               0.01               5.18
2023-12-27     2077.49               0.00               5.21
2023-12-28     2065.61              -0.01               5.18
2023-12-29     2062.98              -0.00               5.17

[8819 rows x 3 columns]

In [25]:
perm_port = pd.merge(stocks_data['Stocks_Close'], bonds_data['Bonds_Close'], left_index=True, right_index=True)
perm_port = pd.merge(perm_port, gold_data['Gold_Close'], left_index=True, right_index=True)
perm_port['Cash_Close'] = 1
perm_port

            Stocks_Close  Bonds_Close  Gold_Close  Cash_Close
Date
1990-01-02        386.16        99.97      399.00           1
1990-01-03        385.17        99.73      395.00           1
1990-01-04        382.02        99.81      396.50           1
1990-01-05        378.30        99.77      405.00           1
1990-01-08        380.04        99.68      404.60           1
...                  ...          ...         ...         ...
2023-12-22      10292.37       604.17     2053.08           1
2023-12-26      10335.98       604.55     2067.81           1
2023-12-27      10351.60       609.36     2077.49           1
2023-12-28      10356.59       606.83     2065.61           1
2023-12-29      10327.83       606.18     2062.98           1

[8480 rows x 4 columns]

## Execute Strategy

In [26]:
# List of funds to be used
fund_list = ['Stocks', 'Bonds', 'Gold', 'Cash']

# Starting cash contribution
starting_cash = 10000

# Monthly cash contribution
cash_contrib = 0

# Portfolio weights
port_weights = [0.25, 0.25, 0.25, 0.25]

strat = strategy(fund_list, starting_cash, cash_contrib)
strat
# sum_stats = summary_stats(strat[['Return']], 'Monthly')
# display(sum_stats)
# plot_cumulative_return(strat)
# plot_values(strat)
# plot_drawdown(strat)

,Stocks_Close,Bonds_Close,Gold_Close,Cash_Close,Stocks_BA_Shares,Stocks_BA_$_Invested,Stocks_BA_Port_%,Bonds_BA_Shares,Bonds_BA_$_Invested,Bonds_BA_Port_%,...,Bonds_AA_$_Invested,Bonds_AA_Port_%,Bonds_AA_Shares,Gold_AA_$_Invested,Gold_AA_Port_%,Gold_AA_Shares,Cash_AA_$_Invested,Cash_AA_Port_%,Cash_AA_Shares,Total_AA_$_Invested
Date,,,,,,,,,,,,,,,,,,,,,
1990-01-02,386.16,99.97,399.00,1,6.47,2500.00,0.25,25.01,2500.00,0.25,...,2500.00,0,0,2500.00,0,0,2500.00,0,0,0
1990-01-03,385.17,99.73,395.00,1,6.49,2500.00,0.25,25.07,2500.00,0.25,...,2500.00,0,0,2500.00,0,0,2500.00,0,0,0
1990-01-04,382.02,99.81,396.50,1,6.54,2500.00,0.25,25.05,2500.00,0.25,...,2500.00,0,0,2500.00,0,0,2500.00,0,0,0
1990-01-05,378.30,99.77,405.00,1,6.61,2500.00,0.25,25.06,2500.00,0.25,...,2500.00,0,0,2500.00,0,0,2500.00,0,0,0
1990-01-08,380.04,99.68,404.60,1,6.58,2500.00,0.25,25.08,2500.00,0.25,...,2500.00,0,0,2500.00,0,0,2500.00,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-22,10292.37,604.17,2053.08,1,0.24,2500.00,0.25,4.14,2500.00,0.25,...,2500.00,0,0,2500.00,0,0,2500.00,0,0,0
2023-12-26,10335.98,604.55,2067.81,1,0.24,2500.00,0.25,4.14,2500.00,0.25,...,2500.00,0,0,2500.00,0,0,2500.00,0,0,0
2023-12-27,10351.60,609.36,2077.49,1,0.24,2500.00,0.25,4.10,2500.00,0.25,...,2500.00,0,0,2500.00,0,0,2500.00,0,0,0
2023-12-28,10356.59,606.83,2065.61,1,0.24,2500.00,0.25,4.12,2500.00,0.25,...,2500.00,0,0,2500.00,0,0,2500.00,0,0,0
2023-12-29,10327.83,606.18,2062.98,1,0.24,2500.00,0.25,4.12,2500.00,0.25,...,2500.00,0,0,2500.00,0,0,2500.00,0,0,0

In [27]:
# Example return data for the 4 asset classes
# Assume you have monthly return data in a DataFrame 'returns'
# Columns: 'Stocks', 'Bonds', 'Gold', 'Cash'

# Initialize the Permanent Portfolio weights
initial_weights = np.array([0.25, 0.25, 0.25, 0.25])
current_weights = initial_weights.copy()

# Create an empty list to store portfolio returns
portfolio_returns = []

# Set rebalancing threshold
rebalance_threshold = 0.10

# Set initial portfolio value
portfolio_value = 1.0

# Loop through each time period
for i in range(len(returns)):
    # Calculate portfolio return for the current period
    period_return = np.dot(current_weights, returns.iloc[i])
    
    # Update portfolio value
    portfolio_value *= (1 + period_return)
    
    # Store the portfolio return
    portfolio_returns.append(portfolio_value)
    
    # Calculate current portfolio weights
    asset_values = (1 + returns.iloc[:i+1]).cumprod().iloc[-1] * initial_weights
    current_weights = asset_values / asset_values.sum()
    
    # Check if rebalancing is needed
    if (np.abs(current_weights - initial_weights) > rebalance_threshold).any() or i % 12 == 0:
        # Rebalance to original weights
        current_weights = initial_weights.copy()

# Convert portfolio returns list to a pandas Series
portfolio_returns = pd.Series(portfolio_returns, index=returns.index)

# Plot cumulative returns
plt.figure(figsize=(10, 6))
plt.plot(portfolio_returns, label='Permanent Portfolio with Rebalancing')
plt.title('Permanent Portfolio Backtest with Rebalancing')
plt.xlabel('Date')
plt.ylabel('Portfolio Value')
plt.legend()
plt.grid(True)
plt.show()

# Calculate performance metrics
cumulative_return = portfolio_returns[-1] - 1
annualized_return = (1 + cumulative_return) ** (12 / len(returns)) - 1
annualized_volatility = pd.Series(portfolio_returns).pct_change().std() * np.sqrt(12)
sharpe_ratio = annualized_return / annualized_volatility

# Output performance metrics
print(f"Cumulative Return: {cumulative_return:.2%}")
print(f"Annualized Return: {annualized_return:.2%}")
print(f"Annualized Volatility: {annualized_volatility:.2%}")
print(f"Sharpe Ratio: {sharpe_ratio:.2f}")

NameError: name 'returns' is not defined